<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0b76e">  <td>20/04/28 21:22:47</td>   <td>0</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.coec3.SmokeTest@51e5fc98]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>20/04/28 21:22:46</td>   <td>-1482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.coec3.SmokeTest@51e5fc98]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>20/04/28 21:22:46</td>   <td>-1492</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeTest()[pri:0, instance:com.coec3.SmokeTest@51e5fc98]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>20/04/28 21:22:46</td>   <td>-1561</td> <td title="&gt;&gt;BaseTest.configPropertyFile()[pri:0, instance:com.coec3.SmokeTest@51e5fc98]">&gt;&gt;configPropertyFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>20/04/28 21:22:47</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.test2()[pri:0, instance:com.coec3.SmokeTest@51e5fc98]">test2</td> 
  <td>main@200224114</td>   <td></td> </tr>
</table>
