<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>20/04/28 15:54:59</td>   <td>0</td> <td title="&gt;&gt;BaseTest.configPropertyFile()[pri:0, instance:com.coec3.SmokeTest@2b9627bc]">&gt;&gt;configPropertyFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/04/28 15:54:59</td>   <td>81</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeTest()[pri:0, instance:com.coec3.SmokeTest@2b9627bc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/04/28 15:54:59</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.coec3.SmokeTest@2b9627bc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/28 15:55:01</td>   <td>2170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.test2()[pri:0, instance:com.coec3.SmokeTest@2b9627bc]">test2</td> 
  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/04/28 15:55:01</td>   <td>2194</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.coec3.SmokeTest@2b9627bc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897871865</td>   <td></td> </tr>
</table>
